In [2]:
import pandas as pd
lb = '21dpi_tgac'
lb = '21dpi_iwgsc'

In [5]:
srna_file = 'data/' + lb + '/ShortStack_D.gff3'
df = pd.read_csv(srna_file,sep="\t",header=None)
df.columns = ['seqname', 'source', 'feature', 'start', 'end', 'score', 'strand', 'frame', 'attribute']

results_file = 'data/' + lb + '/Results.txt'
df_res = pd.read_csv(results_file,sep="\t")
df_res = df_res[df_res.MajorRNA.str.len().isin([20, 21,22])]
print('Res len:',len(df_res.index))

print('Total: ',len(df.index))
df['cluster'] = df.attribute.str.split(';').str.get(0)
df['cluster'] = df.cluster.str.split('=').str.get(1)

counts_file = 'data/' + lb + '/counts.clean.txt'
df_counts = pd.read_csv(counts_file,sep="\t")

df_valid = df_counts[df_counts.Name.isin(df.cluster)]
print('Total valid:', len(df_valid.index))

Res len: 3267
Total:  28759
Total valid: 28759

In [6]:
f = open(results_file,'r')
count = 0
for line in f:
    line = line.split('\t')
    if len(line[8]) in [20,21,22]:
        count += 1
print(count)

3267

In [7]:
df_valid.to_csv('data/' + lb + '/valid_counts.csv',sep='\t',index=False)

In [8]:
df_valid.head(2)

,Locus,Name,main,21dpiR1C.trimmed,21dpiR1T.trimmed,21dpiR3C.trimmed,21dpiR3T.trimmed
121,chr1A:227106-227333,Cluster_122,79,28,21,15,15
266,chr1A:1314729-1315026,Cluster_267,185,45,49,49,42