In [1]:
import pandas as pd

In [2]:
srna_file = 'data/21dpi_tgac/ShortStack_D.gff3'
df = pd.read_csv(srna_file,sep="\t",header=None)
df.columns = ['seqname', 'source', 'feature', 'start', 'end', 'score', 'strand', 'frame', 'attribute']

results_file = 'data/21dpi_tgac/Results.txt'
df_res = pd.read_csv(results_file,sep="\t")
df_res = df_res[df_res.MajorRNA.str.len().isin([20, 21,22])]
print('Res len:',len(df_res.index))

print('Total: ',len(df.index))
df['cluster'] = df.attribute.str.split(';').str.get(0)
df['cluster'] = df.cluster.str.split('=').str.get(1)

counts_file = 'data/files/counts.clean.txt'
df_counts = pd.read_csv(counts_file,sep="\t")

df_valid = df_counts[df_counts.Name.isin(df.cluster)]
print('Total valid:', len(df_valid.index))

Res len: 3304
Total:  28845
Total valid: 28845

In [3]:
f = open(results_file,'r')
count = 0
for line in f:
    line = line.split('\t')
    if len(line[8]) in [20,21,22]:
        count += 1
print(count)

3304

In [4]:
df_valid.to_csv('data/files/valid_counts.csv',sep='\t',index=False)

In [5]:
df_valid.head(2)

,Locus,Name,main,21dpiR1C.trimmed,21dpiR1T.trimmed,21dpiR3C.trimmed,21dpiR3T.trimmed
55,TGACv1_scaffold_576745_7BL:247579-247903,Cluster_56,221,55,63,54,49
56,TGACv1_scaffold_640690_U:727543-727844,Cluster_57,77,22,23,12,20